@model PetGrooming.Models.ViewModels.UpdatePet
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<a href="/Pet/List">Back to list</a>
<form method="POST" action="/Pet/Update/@Model.pet.PetID">
    petname : <input id="PetName" name="PetName" value="@Model.pet.PetName" /><br />
    petcolor: <input id="PetColor" name="PetColor" value="@Model.pet.Color" /><br />
    Weight : <input id="PetWeight" name="PetWeight" value="@Model.pet.Weight" /><br />
    <div>notes :<textarea id="PetNotes" name="PetNotes">@Model.pet.Notes</textarea></div>
    <div>Species :</div>
    <select name="SpeciesID">
        @{
            foreach(var species in Model.species)
            {
                string selected = "";
                if(species.SpeciesID == Model.pet.SpeciesID)
                {
                    selected = "selected";
                }
                <option value="@species.SpeciesID"@selected>@species.Name</option>
            }
        }
    </select>
   <input type="submit" id="submit" value="update pet" />
</form>
